@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply bg-[#F5F5F5] font-Montserrat;
  }
  #root {
    @apply flex flex-col min-h-screen;
  }
  main {
    @apply py-20 grow;
  }
  .primary-btn {
    @apply bg-[#006636] text-white border border-transparent rounded-md transition-colors duration-300 hover:bg-white hover:text-[#006636] hover:border-[#006636];
  }
  .secondary-btn {
    @apply bg-white text-[#4B5563] border border-transparent rounded-md transition-colors duration-300 hover:text-[#006636] hover:border-[#006636];
  }

  .zab-header {
    box-shadow: 0px 4px 16px 0px rgba(2, 53, 29, 0.06);
  }
  .mobile-menu-container {
    @apply flex lg:items-center invisible opacity-0 lg:opacity-100 lg:visible lg:gap-10 lg:grow  fixed lg:static bg-white lg:bg-transparent w-screen h-screen z-50 lg:w-auto lg:h-auto top-0 left-0 flex-col lg:flex-row;
  }
  .mobile-menu-container.show {
    @apply opacity-100 visible;
  }
  .nav-item {
    @apply p-8 py-6 lg:p-0 border-b lg:border-none last:border-none;
  }
  .nav-link {
    @apply flex justify-between items-center gap-3.5;
  }

  .footer-social-item {
    @apply w-[50px] h-[50px] flex items-center justify-center rounded-lg transition-all duration-300;
    box-shadow: 0px 2px 5.5px 0px rgba(0, 0, 0, 0.0197),
      1px 1.22px 0.97px 0px rgba(0, 0, 0, 0.0283),
      0px 0px 1.83px 0px rgba(0, 0, 0, 0.035),
      0px 3px 6.8px 0px rgba(0, 0, 0, 0.0417);
  }
  .footer-social-item img {
    @apply transition-all duration-300;
  }
  .footer-social-item:hover {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.257),
      0px 0px 0px 0px rgba(0, 0, 0, 0.0283),
      0px 0px 0px 0px rgba(0, 0, 0, 0.035),
      0px 0px 6.8px 0px rgba(0, 0, 0, 0.0417);
  }
  .footer-social-item:hover img {
    @apply scale-110;
  }

  .cat-nav-btn {
    @apply size-12 rounded-full overflow-hidden backdrop-blur-sm bg-white bg-opacity-60 flex items-center justify-center;
    box-shadow: 0 4px 4px rgba(203, 203, 203, 0.25);
  }
  .cat-swiper-pagination {
    @apply flex mx-auto w-fit bg-white rounded-full;
  }
  .cat-swiper-pagination .swiper-pagination-bullet {
    @apply w-7 h-1.5 cursor-pointer transition-colors duration-300 ease-in-out rounded-full [&.swiper-pagination-bullet-active]:bg-[#0A4C26];
  }

  .block-buster-cont {
    @apply flex flex-col items-center gap-6 bg-[#F9EDDD1A] bg-opacity-10 bg-cover rounded-3xl overflow-hidden;
    background-image: url(./images/dealsbg.png);
  }
}
